body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 99%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

header button:hover {
    background-color: #777;
}

body #messageBar {
    background-color: #1e7e34;
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 7px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content .close:hover,
.modal-content .close:focus {
    color: black;
}

#add-product-form label {
    display: block;
    margin: 10px 0 5px;
}

#add-product-form input,
#product-description {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

#product-description {
    height: 150px;
    max-width: 100%;
}

#add-product-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-product-form button:hover {
    background-color: #45a049;
}

#headerButtonsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

#cart-btn, #username-btn {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cart-btn {
    background-color: #4CAF50;
    transition: background-color 0.3s;
}

#cart-btn:hover {
    background-color: #45a049;
}

#username-dropdown {
    position: relative;
}

#username-btn {
    background-color: #007bff;
    transition: background-color 0.3s;
}

#username-btn:hover {
    background-color: #0056b3;
}

#dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    width: 200px;
}

#dropdown-menu a {
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    display: block;
    border-bottom: 1px solid #ddd;
}

#dropdown-menu a:hover {
    background-color: #ddd;
}

#disconnect-btn, #delete-account-btn {
    padding: 10px;
    text-decoration: none;
    display: block;
    border: none;
    cursor: pointer;
}

#delete-account-btn {
    background-color: #f44336;
    color: white;
}

#delete-account-btn:hover {
    background-color: #b71c1c;
    color: white;
}

#disconnect-btn:hover {
    background-color: #f44336;
    color: white;
}

#cart-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 80%;
    height: 80%;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    z-index: 1000;
    overflow-y: auto; /* Enable scrolling for long content */
    border-radius: 10px;
}

#cart-modal h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

#cart-modal ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#cart-modal li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

#cart-modal li:last-child {
    border-bottom: none; /* Remove border from the last item */
}

.cart-item-image {
    width: 80px;
    height: auto;
    border-radius: 5px;
    margin-right: 15px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

.cart-item-details h3 {
    font-size: 18px;
    margin: 5px 0;
}

.cart-item-details p {
    font-size: 16px;
    color: #555;
}

#cart-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#cart-modal button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cart-modal button:hover {
    background-color: #0056b3;
}

.remove-from-cart {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 15px;
}

.remove-from-cart:hover {
    background-color: #c82333;
}

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

#search-bar {
    flex-grow: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#search-bar:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#search-button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #0056b3;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 600px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.product img {
    width: 120px;
    height: auto;
    border-radius: 5px;
}

.product-info {
    flex-grow: 1;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product a {
    text-decoration: none;
    color: inherit;
}

.product button {
    margin-left: 10px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.product .productName {
    font-size: 1.1em;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.product .productName:hover {
    text-decoration: none;
    color: #007bff;
}

.product .productPrice {
    font-size: 1.1em;
    font-weight: 400;
    color: #555;
    margin-bottom: 8px;
    font-style: italic;
    transition: color 0.3s;
}

.product .productPrice:hover {
    color: #28a745;
}

.product .addToCart {
    background-color: #28a745;
    color: white;
}

.product .addToCart {
    background-color: #28a745;
    color: white;
}

.product .addToCart:hover {
    background-color: #218838;
}

.product .delete {
    background-color: #dc3545;
    color: white;
}

.product .delete:hover {
    background-color: #c82333;
}
